<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.tcyeee.mapper.SuggestMessageMapper">
    <select id="findAll" resultType="demo.tcyeee.entity.vo.SuggestMessageVo">
        select a.id           as messageId,
               a.context      as context,
               a.createdate   as createdate,
               b.id           as userId,
               b.username     as username,
               b.avatar_url   as avatarUrl,
               b.account_type as accountType
        from time_doser.suggest_message a
                 left join time_doser.base_user b on a.base_user_id = b.id
        order by a.createdate desc
    </select>
</mapper>