<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timedoser.cloud.user.mapper.AclUserMapper">
    <resultMap id="BaseResultMap" type="com.timedoser.cloud.common.entity.po.AclUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="account_type" jdbcType="INTEGER" property="accountType"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="createdate" jdbcType="TIMESTAMP" property="createdate"/>
        <result column="last_password_reset" jdbcType="TIMESTAMP" property="lastPasswordReset"/>
        <result column="personalized_signature" jdbcType="VARCHAR" property="personalizedSignature"/>
    </resultMap>
    <sql id="Base_Column_List">
        id , username, mobilephone, `password`, gender, email, avatar_url, `enable`, account_type,
    openid, country, province, city, createdate, last_password_reset, personalized_signature
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from time_doser_user.acl_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="findByMobilephone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from time_doser_user.acl_user
        where mobilephone= #{mobilephone,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from time_doser_user.acl_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.timedoser.cloud.common.entity.po.AclUser"
            useGeneratedKeys="true">
        insert into time_doser_user.acl_user (username, mobilephone, `password`,
                                              gender, email, avatar_url,
                                              `enable`, account_type, openid,
                                              country, province, city,
                                              createdate, last_password_reset, personalized_signature)
        values (#{username,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{gender,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR},
                #{enable,jdbcType=INTEGER}, #{accountType,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR},
                #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
                #{createdate,jdbcType=TIMESTAMP}, #{lastPasswordReset,jdbcType=TIMESTAMP},
                #{personalizedSignature,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.timedoser.cloud.common.entity.po.AclUser" useGeneratedKeys="true">
        insert into time_doser_user.acl_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="mobilephone != null">
                mobilephone,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="avatarUrl != null">
                avatar_url,
            </if>
            <if test="enable != null">
                `enable`,
            </if>
            <if test="accountType != null">
                account_type,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
            <if test="lastPasswordReset != null">
                last_password_reset,
            </if>
            <if test="personalizedSignature != null">
                personalized_signature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="mobilephone != null">
                #{mobilephone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=INTEGER},
            </if>
            <if test="accountType != null">
                #{accountType,jdbcType=INTEGER},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastPasswordReset != null">
                #{lastPasswordReset,jdbcType=TIMESTAMP},
            </if>
            <if test="personalizedSignature != null">
                #{personalizedSignature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.timedoser.cloud.common.entity.po.AclUser">
        update time_doser_user.acl_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="mobilephone != null">
                mobilephone = #{mobilephone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                `enable` = #{enable,jdbcType=INTEGER},
            </if>
            <if test="accountType != null">
                account_type = #{accountType,jdbcType=INTEGER},
            </if>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                createdate = #{createdate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastPasswordReset != null">
                last_password_reset = #{lastPasswordReset,jdbcType=TIMESTAMP},
            </if>
            <if test="personalizedSignature != null">
                personalized_signature = #{personalizedSignature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.timedoser.cloud.common.entity.po.AclUser">
        update time_doser_user.acl_user
        set username               = #{username,jdbcType=VARCHAR},
            mobilephone            = #{mobilephone,jdbcType=VARCHAR},
            `password`             = #{password,jdbcType=VARCHAR},
            gender                 = #{gender,jdbcType=INTEGER},
            email                  = #{email,jdbcType=VARCHAR},
            avatar_url             = #{avatarUrl,jdbcType=VARCHAR},
            `enable`               = #{enable,jdbcType=INTEGER},
            account_type           = #{accountType,jdbcType=INTEGER},
            openid                 = #{openid,jdbcType=VARCHAR},
            country                = #{country,jdbcType=VARCHAR},
            province               = #{province,jdbcType=VARCHAR},
            city                   = #{city,jdbcType=VARCHAR},
            createdate             = #{createdate,jdbcType=TIMESTAMP},
            last_password_reset    = #{lastPasswordReset,jdbcType=TIMESTAMP},
            personalized_signature = #{personalizedSignature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>